/* body {
    margin: 0;
    padding: 0;
    font-family: system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */



/* hero-section */
.hero-booking {
    height: 90vh;
}

/* end-hero-section */
.image {
    background-image: url(/asset/images/Booking/bus-bg.jpg);
    background-repeat: no-repeat;
    height:100%;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* controle les cart et le bar de filtrage */


.filtrage-booking {

    /* display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; */
    background-color: #fffdfd;
    padding: 10px;
    width: 18em;
    border: 1px solid #8080808f;
    border-radius: 11px;

}

.filter-head {
    display: flex;
    gap: 6rem;
}

.filter-objects,
.filtrage-booking {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-input-book {
    /* display: flex;
            flex-direction: column;
            align-items: start; */
    border-top: 1px solid gray;
    padding-top: 1rem;
}

.label-input-booking,
.label-input-book {
    display: flex;
    flex-direction: column;
    align-items: start;

}

.filter-input {
    width: 15em;
    height: 2.5em;
    min-width: fit-content;
    border: 1px solid gray;
    border-radius: 11px;
    margin-bottom: 1em;
    background: #E9ECEF;
}

/* /// card - parte /// */
.pricing-card {
    background: rgb(252, 251, 251);
    width: 17em;
    border: 1px solid #c9c9c9;
    border-radius: 15px;
    margin-top: 20px;
}

.date-available,
.booking-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.availbale-button {
    height: 3.5rem;
    border: 1px;
    border-radius: 7px;
    background: var(--green);
    color: white;
}

.img-destination {
    display: block;
    width: 100vh;
    max-width: -webkit-fill-available;
}

.select-card {
    height: 4rem;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 2px;

}

.sortby-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7em;
}

.div-card-final {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.button-filter {
    height: 4rem;
    width: 10rem;
    background: var(--blue);
    border: none;
    border-radius: 10px;
    color: #fafbf9;
}

.cards-booking {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-booking {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.filter-objects-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carts-Rao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    margin-top: 3rem;
}

.button-grid,.button-grid2{
    
        height: 4rem;
        width: 4rem;
        border: 1px solid gray;
        border-radius: 15px 0px 0px 15px;
}
.button-grid2{
    border-radius: 0px 15px 15px 0px;
    -webkit-border-radius: 0px 15px 15px 0px;
    -moz-border-radius: 0px 15px 15px 0px;
    -ms-border-radius: 0px 15px 15px 0px;
    -o-border-radius: 0px 15px 15px 0px;
}

@media (min-width : 768px ) and (max-width : 1024px){
    .filtrage-booking {
        width: 70%;
    }

    .label-input-book {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin: 12px;
    }

    .filter-head {
        display: flex;
        gap: 10rem;
    }
    .cards-booking{
        align-items: baseline;
    }
}

@media (min-width : 1025px) {
    .sortby-card {
        gap: 45vw;
    }
    .filter-head {
        display: flex;
        gap: 17rem;
    }
    h1{
        color: #fafbf9;
    }
    .cards-booking {
        align-items: baseline;
    }
}

/* //////////////////  result-Booking */
.panier-booking {

    width: 100%;
    background: var(--blue);
    color: beige;


}

.panier-right {
    height: 35rem;
}

.section-panier {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panier-header {


    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;


}

.input {
    height: 5vh;
    width: 30rem;
    border: 1px solid gainsboro;
    border-radius: 15px;
    background: gainsboro;
    padding: 10px;

}

.train {
    border: 1px solid gainsboro;
    border-top: 1px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 12rem;
    border-left: none;
    border-right: none;

}

.train1 {
    height: 32px;
    background: gainsboro;
    padding: 29px;
    border-radius: 20px;
    text-align: center;
    font-size: medium;
}

.panier-text-medil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: rem;
    align-items: center;

}

.footer-panier {
    display: flex;
    gap: 50rem;
    border-top: 1px solid;
    padding-top: 15px;
}

.img-panier {
    display: flex;
    flex-direction: column;
}

.div-train {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-text {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: x-large;
    gap: 10rem
}

.tecket {
    margin-top: 30px;
    border: 1px solid gray;
    border-radius: 10px;
    height: 20rem;
    padding: 19px;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.st {
    height: 4rem;
    width: 14rem;
    background: var(--blue);
    text-align: center;
    color: beige;
    padding: 10px;
    border-radius: 15px;

}